input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #097bbf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0a66c2;
}
#image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#profile-photo {
  width: 100px; /* Set a width for the profile photo */
  height: 100px; /* Set a height for the profile photo */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image covers the box */
}

input[type="file"] {
  margin-top: 10px;
}
