<div id="contentToConvert" ngxPrint printSectionId="contentToConvert">
  <div id="container">
    <div id="profile">
      <div id="image">
        <img
          id="profile-photo"
          *ngIf="selectedFile"
          [src]="createImageUrl(selectedFile)"
          alt="Profile-Image"
        />
      </div>
      <h3>Persönliche Daten</h3>
      <p id="name">{{ resumeForm.value.name || 'Name' }}</p>
      <p id="birthDate">{{ resumeForm.value.birthDate || 'Birth Date' }}</p>
      <p id="Address">{{ resumeForm.value.Address || 'Address' }}</p>
      <p id="familyStatus">{{ resumeForm.value.familyStatus || 'Family Status' }}</p>
      <p id="email"><fa-icon [icon]="faEnvelope"></fa-icon> <strong> {{ resumeForm.value.email || 'Email' }}</strong></p>
      <p id="telephone"><fa-icon [icon]="faTeletype"></fa-icon> <strong> {{ resumeForm.value.phone || 'Telephone' }}</strong></p>
      <p id="nationality">{{ resumeForm.value.nationality || 'Nationality' }}</p>
      <hr width="100%" />
      
      <h3>Besondere Kenntnisse</h3>
      <p id="Sprachen:">Sprachen:</p>
      <ul>
        <li *ngFor="let lang of resumeForm.value.languages">
          {{ lang.language || 'Language' }}: {{ lang.level || 'Level' }}
        </li>
      </ul>
      <p id="EDV">EDV:<br />{{ resumeForm.value.EDV || 'EDV-Kenntnisse' }}</p>
      <p id="my_strong">Stärken:<br /><span>{{ resumeForm.value.my_strong || 'kommunikativ, teamfähig, zuverlässig' }}</span></p>
      <br>
      <div id="date"><p id="date">{{ currentDate | date }}</p></div> 
    </div>

    <div id="info-cards">
      <!-- Beruflicher Werdegang -->
      <div class="card">
        <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Beruflicher Werdegang</p>
        <ul>
          <li *ngFor="let work of resumeForm.value.workExperience">
            <p class="workExperience">
              {{ work.workCompany || 'Company' }}   {{ work.workPlace || 'Work Place' }} 
               <br />
              <span>{{ work.workPlaceDate || 'Date' }}</span>
            </p>
          </li>
        </ul>
      </div>

      <!-- Weiterbildung -->
      <div class="card">
        <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Weiterbildung</p>
        <ul>
          <li *ngFor="let workshop of resumeForm.value.workshops">
            <p class="workshops">
              {{ workshop.workshop || 'Workshop' }} <br />
              <span>{{ workshop.workshopPlace || 'Place' }} | {{ workshop.workshopDate || 'Date' }}</span>
            </p>
          </li>
        </ul>
      </div>

      <!-- Schul- und Ausbildung -->
      <div class="card">
        <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Schul- und Ausbildung</p>
        <ul>
          <li *ngFor="let school of resumeForm.value.school">
            <p class="school">
              {{ school.schoolName || 'School' }} <br />
              <span>{{ school.schoolPlace || 'Place' }} | {{ school.schoolDate || 'Date' }}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
